<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.eventplanner">

    <uses-permission android:name="android.permission.INTERNET" />


    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/event_planner1"
        android:label="@string/app_name"
        android:roundIcon="@drawable/event_planner1"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignupActivity" />
        <activity
            android:name=".DashboardActivity"
            android:label="Dashboard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ManageTasksActivity"
            android:label="Manage Tasks"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".InviteGuestsActivity"
            android:label="Invite Guests"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ManageEventActivity"
            android:label="Manage Event"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddEventActivity"
            android:label="Add Event"
            android:noHistory="true"/>
        <activity android:name=".AddTasksActivity"
            android:label="Add Tasks"/>
        <activity android:name=".AddNewGuest"
            android:label="Add New Guests"/>
        <activity
            android:name=".ManageGuestsActivity"
            android:label="Manage Guests"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver android:name=".AlarmRecever"></receiver>

        <service
            android:name=".NotificationService"
            android:enabled="true" />

    </application>

</manifest>